.jumbotron {
	background-color: green;
	color: orange;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: green;
	margin-bottom: 0px;
	margin-top: 20px;
    color: orange;
}

footer a {
	color:yellow;
}
.card-covid {
	flex: 1 200px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px
}

.btn-19 {
	width: 100%;
	position:  absolute;
	left: 0;
	bottom: 0;
}

.footer-address-icon {
	padding-right: 10px
}

.tab-content {
	padding-top: 10px

}

