@green:#09c532;
@orange:#b4710d;
@yellow:#ffff1a;

.margenes(@top: 0px, @bottom: 0px) {
margin-top:@top;
margin-bottom: @bottom;
}


.jumbotron {
	background-color: @green;
	color: @orange;
	.margenes(50px,10px);
}

footer {
	padding: 10px 10px 0 10px;
	background-color: @green;
	.margenes(20px, 0px);
	 color: @orange;
}

footer a {
	color:@yellow;
}
.card-covid {
	flex: 1 200px;
	padding: 2px 5px 2px 5px;
	.margenes (10px, 0px);
	
}

.btn-19 {
	width: 100%;
	position:  absolute;
	left: 0;
	bottom: 0;
}

.footer-address-icon {
	padding-right: 10px
}

.tab-content {
	padding-top: 10px

}

