$green:#046d1e;
$orange:#b4710d;
$yellow:#ffff1a;

@mixin margenes($top,$bottom) {
margin-top: $top;
margin-bottom: $bottom;
}


.jumbotron {
	background-color: $green;
	color: $orange;
	@include margenes (50px,10px);
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $green;
	@include margenes (20px, 0px);
	 color: $orange;
}

footer a {
	color:$yellow;
}
.card-covid {
	flex: 1 200px;
	padding: 2px 5px 2px 5px;
	@include margenes (10px, 0px);
	
}

.btn-19 {
	width: 100%;
	position:  absolute;
	left: 0;
	bottom: 0;
}

.footer-address-icon {
	padding-right: 10px
}

.tab-content {
	padding-top: 10px

}

