.jumbotron {
  background-color: #3c12d4;
  color: #b4710d;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #3c12d4;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #b4710d; }

footer a {
  color: #ffff1a; }

.card-covid {
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-19 {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
